@charset "UTF-8";

body	{
	background-color: #dddddd;
	color: rgba(0,0,0,1);
	background: url("../meu_Projeto_HTML/Aracaju_(Sergipe)_circa_1903.jpg"); 
}
img#icone {
	width: 100px;
	height: 140px;
}
div#interface{
	width:900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	padding: 40px;
}
p{
	text-align: justify;
	text-indent: 50px;
}
header#cabecalho img#icone {
	position: absolute;
	left: 950px;
	top: 60px;
}
header#cabecalho{
	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
	
}
header#cabecalho h1 {
	font-family: 'FontLogo', sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow:1px 1px 1px rgba(0,0,0,0.6);
	padding: 0px;
	margin-bottom: 0px;
	
}
header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	color: #888888;
	font-size: 15pt;
	padding: 0px;
	margin-top: 0px;
}
/*Formatacao de imagens com legendas*/
figure.foto-legenda{
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}
figure.foto-legenda img{
	
	width: 100%;
	height: 100%;
}
figure.foto-legenda figcaption{
		opacity: 0;
		position: absolute;
		top: 0px;
		background-color: rgba(0,0,0,.4);
		color: white;
		width: 100%;
		height: 100%;
		padding:  10px;
		box-sizing: border-box;
		transition: opacity 1s;
		
}
figure.foto-legenda:hover figcaption {
	opacity: 1;
}

/*formatacao do nav*/
nav#menu li:hover{
	background-color: #606060;
}
nav#menu {
	display: block; 

}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top:-10px;
	left:575px;
	
}
nav#menu li {
	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 0px;
	transition: background-color 1s;
	
	
}
nav#menu h1{
	display: none;
}

nav#menu a {
	color: #000000;
	text-decoration: none;
}
nav#menu a:hover{
	color: #ffffff;
	text-decoration: underline;
}

table#tabelaspec{
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}
table#tabelaspec td{
	border:1px solid #606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
	
}
table#tabelaspec td.ce{
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	text-align: right;
	font-weight: bold;
}
table#tabelaspec td.cd{
	background-color: #cecece;
	text-align: left;
	
}
table#tabelaspec caption{
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;
}
table#tabelaspec caption span{
	display: block;
	float: right;
	color:#000000;
	font-size:8pt;
	margin-top: 10px;
	
}

footer#rodape{
	clear: both;
	border-top: 1px solid #606060;
	
	}

footer#rodape p {
	text-align: center;
}
footer#rodape a {
	color: #000000;
	text-decoration: none;
}